default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: tokyo_development

test:
  <<: *default
  database: tokyo_test

#production:
#  <<: *default
#  database: tokyo_production
#  username: tokyo
#  password: <%= ENV['TOKYO_DATABASE_PASSWORD'] %>
